{% extends "layout.jinja2" %}

{% block content %}


<!-- A hidden input named public_token will be appended to this form
once the user has completed the Link flow. Link will then submit the
form, sending the public_token to your server. -->
<form id="some-id" method="POST" action="/authenticate"></form>

<!-- To use Link with longtail institutions on Connect, set the
data-longtail attribute to 'true'. See the Parameter Reference for
additional documentation. -->
<script
  src="https://cdn.plaid.com/link/stable/link-initialize.js"
  data-client-name="Client-name"
  data-form-id="some-id"
  data-key={{public_key}}
  data-product="auth"
  data-env={{plaid_env}}>
</script>


{% endblock content %}