{% extends "layout.jinja2" %}

{% block content %}
<div class="container">
  <div class="col-md-24 text-center">
    <button class="btn btn-primary" id="link-button">Add Bank</button>
  </div>
</div>

{% endblock content %}

{% block script %}
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script type="text/javascript">
var handler = Plaid.create({
  apiVersion: 'v2',
  clientName: 'Plaid Walkthrough Demo',
  env: 'development',
  key: '9f511938e841a3679f50330ab9a00b', // Replace with your public_key to test with live credentials
  product:'auth',
  //webhook: '[WEBHOOK_URL]', // Optional – use webhooks to get transaction and error updates
  selectAccount: false, // Optional – trigger the Select Account

  onSuccess: function(public_token, metadata) {
    // Send the public_token to your app server.
    // The metadata object contains info about the institution the
    // user selected and the account ID, if `selectAccount` is enabled.
    console.log(public_token)
    $.post('/set_access_token', {
      public_token: public_token,
    })
  }
});

$('#link-button').on('click', function(e) {
  handler.open();
  // Alternatively, you can have a specific institution
  // prompt for authentication. Example:
  //
  // handler.open('ins_100000');
  //
  // This will open Link with Union Bank as the institution.
});
</script>
{% endblock %}
