{% extends "layout.jinja2" %}

{% block content %}
<section id="top">
    <div class="text-vertical-center">
        <h1>BudgetUp</h1>
        <h2>SAVE $$$ SAVE $$$ SAVE $$$</h2>
    </div>
</section>

<section id="subscribe-email">
    {% include 'subscribe_email.jinja2' %}
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 text-center">
                <h2>about BudgetUp</h2>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-24 text-center">
                <h2>BudgetUp services</h2>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
