<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BudgetUp!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href={{request.static_url('budgetapp:static/theme')}}>
  </head>
<body>

{% include 'navbar.jinja2' %}

<div class="container">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
      {% block content %}

      {% endblock content %}
    </div>

      {% include 'rightsidebar.jinja2' %}
    </div>
  </div>
</div>
  {% include 'footer.jinja2' %}
</body>
</html>
