<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href={{request.route_url('home')}}>BudgetUp!</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a action="/add-bank" href={{request.route_url('accounts')}}>accounts</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user is none %}
                    <li><a href={{request.route_url("register")}}>register</a></li>
                    <li><a href={{request.route_url("login")}}>login</a></li>
                {% else %}
                    <li><a href={{request.route_url("add_bank")}}>add bank</a></li>
                    <li><a href={{request.route_url("logout")}}>logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

