<div class="container">
    <div class="row">
        <div class="col-xs-24 text-center">
            <h2>Subscribe to our mailing list</h2>
        </div>
        <form class="form-inline col-xs-24 text-center">
            <div class="form-group">
                <input type="email" name="email" class="form-control" id="email_param" placeholder="Email">
                <button type="submit" name="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>
</div>
